.sec-home-banner {
    .img-main {
		.back-img {
			left: 8% !important;
			.thumb3 {
			}
		}
		.front-img-one {
			.thumb1 {
				margin: 0 auto 0 120px;
			}
		}
		.front-img-two {
			top: -8% !important;
			.thumb2 {
			}
		}
	}
}