@use './fonts.scss' as *;
@use './variables.scss' as *;

@mixin xxlHeading($font-size, $text-transform, $line-height, $margin-bottom, $letter-spacing) {
    font-family: $font-6;
    font-size: $font-size;
    text-transform: $text-transform;
    line-height: $line-height;
    color: $white-clr;
    margin-bottom: $margin-bottom;
    letter-spacing: $letter-spacing;
}

@mixin xlHeading($text-transform, $margin-bottom) {
    font-family: $font-5;
    font-size: clamp(24px, 4vw, 48px);
    text-transform: $text-transform;
    line-height: clamp(30px, 5vw, 52px);
    color: $white-clr;
    margin-bottom: $margin-bottom;
}

@mixin smHeading($text-transform, $margin-bottom) {
    font-family: $font-5;
    font-size: clamp(16px, 1vw, 18px);
    text-transform: $text-transform;
    line-height: normal;
    color: $white-clr;
    margin-bottom: $margin-bottom;
}

@mixin xsHeading($font-size,$line-height,$margin-bottom) {
    font-family: $font-5;
    font-size: $font-size;
    text-transform: capitalize;
    line-height: $line-height;
    color: $white-clr;
    margin-bottom: $margin-bottom;
    letter-spacing: 0.1px;
}

@mixin rgHeading($font-size,$text-transform,$line-height,$margin-bottom) {
    font-family: $font-3;
    font-size: $font-size;
    text-transform: $text-transform;
    line-height: $line-height;
    color: $white-clr;
    margin-bottom: $margin-bottom;
    letter-spacing: 0.2px;
}

@mixin blogHeading($margin) {
    font-family: $font-6;
    font-size: clamp(16px, 2vw, 24px);
    text-transform: capitalize;
    line-height: normal;
    color: $white-clr;
    margin: $margin;
}

@mixin commentHeading($margin) {
    font-family: $font-3;
    font-size: clamp(16px, 1vw, 18px);
    text-transform: capitalize;
    line-height: normal;
    color: $white-clr;
    margin: $margin;
}

@mixin dateHeading($margin) {
    font-family: $font-6;
    font-size: clamp(22px, 3vw, 36px);
    text-transform: capitalize;
    line-height: normal;
    color: $white-clr;
    margin: $margin;
}

@mixin servicesHeading($font-family,$margin-bottom) {
    font-family: $font-family;
    font-size: clamp(22px, 4vw, 40px);
    text-transform: capitalize;
    line-height: normal;
    color: $white-clr;
    margin-bottom: $margin-bottom;
    text-align: center;
}

@mixin paraOne($font-family,$margin,$color,$text-transform) {
    font-family: $font-family;
    font-size: clamp(16px, 1.5vw, 18px);
    line-height: clamp(22px, 3vw, 28px);
    margin: $margin;
    color: $color;
    text-transform: $text-transform;
}

@mixin paraTwo($margin, $text-transform) {
    font-family: $font-4;
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: clamp(24px, 3vw, 36px);
    margin: $margin;
    color: $lt-grey-clr;
    text-transform: $text-transform;
    letter-spacing: -0.1px;
}

@mixin paraThree($margin, $text-transform) {
    font-family: $font-3;
    font-size: clamp(14px, 1.5vw, 16px);
    line-height: clamp(24px, 2vw, 28px);
    margin: $margin;
    color: $white-clr;
    text-transform: $text-transform;
    letter-spacing: -0.1px;
}

@mixin paraFour($font-family,$margin) {
    font-family: $font-family;
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: clamp(24px, 4vw, 48px);
    margin: $margin;
    color: $white-clr;
}

@mixin buttonOne($height,$width,$font-family,$font-size,$margin) {
    color: $white-clr;
    height: $height;
    width: $width;
    font-family: $font-family;
    font-size: $font-size;
    text-transform: capitalize;
    margin: $margin;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: $gradient-1;
    background-size: 130%;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    &:hover {
        background-position: center;
        background-size: 500%;
        color: $white-clr;
    }
}


@mixin buttonTwo($height,$width,$font-size,$margin) {
    color: $lt-grey-clr-4;
    height: $height;
    width: $width;
    font-family: $font-7;
    font-size: $font-size;
    text-transform: capitalize;
    margin: $margin;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $prim-clr;
    background: $sec-bg-3;
    transition: all 0.5s ease-in-out;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: $gradient-1;
        background-size: 130%;
        transition: all 0.5s ease-in-out;
        z-index: -1;
        opacity: 0;
    }
    &:hover {
        color: $white-clr;
        border-color: transparent;
        svg {
            color: $white-clr;
        }
        &::before {
            opacity: 1;
        }
    }
}

@mixin innerBannerOne() {
    position: relative;
    overflow: hidden;
    padding-top: clamp(100px, 15vw, 196px);
    // padding-bottom: clamp(50px, 13vw, 165px);
    height: clamp(277px,44vw,554px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    &::before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, $black-bg 55%, $black-bg-2 70%, $black-bg-3 100%);
        background: linear-gradient(0deg, $black-bg 0%, $black-bg-4 50%, rgba(0,0,0,1) 100%);
        z-index: -1;
    }
}

@mixin bannerHead($margin-bottom) {
    font-family: $font-6;
    font-size: clamp(24px, 5vw, 64px);
    text-transform: capitalize;
    line-height: clamp(30px, 6vw, 72px);
    color: $white-clr;
    margin-bottom: $margin-bottom;
    text-align: center;
}

@mixin bannerPara($margin) {
    font-family: $font-3;
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: clamp(24px, 3vw, 36px);
    margin-top: clamp(20px,4vw,40px);
    text-transform: capitalize;
    color: $white-clr;
    opacity: 0.5;
    letter-spacing: -0.1px;
    text-align: center;
}

@mixin blogHead() {
    font-family: $font-13;
    font-size: clamp(24px, 5vw, 48px);
    text-transform: capitalize;
    line-height: clamp(30px, 6vw, 72px);
    color: $white-clr;
    margin-bottom: 20px;
    text-align: left;
}

@mixin ctLb($color,$margin-bottom) {
    font-family: $font-7;
    font-size: clamp(14px, 1.5vw, 17px);
    text-transform: capitalize;
    line-height: normal;
    color: $color;
    margin-bottom: $margin-bottom;
}