$prim-clr: #E0AA3B;
$sec-clr: #1A1A1A;
$white-clr: #fff;
$black-clr: #000;
$lt-grey-clr: rgb(255 255 255 / 0.5);
$lt-grey-clr-2: #7F7F7F;
$prim-bg: #E0AA3B;
$prim-bg-2: #cc9900;
$black-bg: #000;
$black-bg-2: rgba(0,0,0,0.5);
$black-bg-3: rgba(0,0,0,0);
$white-bg: #fff;
$grad-clr-1: #cc9b36;
$grad-clr-2: #856523;
$grad-clr-3: #5b4518;
$grad-clr-4: #32260d;
$shadow-1: rgba(224, 169, 59, 0.40);
$gradient-1: linear-gradient(90deg, $prim-bg 0%, $black-bg 100%);
$gradient-2: linear-gradient(180deg, $prim-bg 35%, $black-bg 100%);
$radial-gradient-1: radial-gradient(circle, $prim-bg-2 0%, rgba(255,255,255,0) 100%);
