.blur-loader {
background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18);
height: 100%;
width: 100%;
}